.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
assets/demo.mp4
.github/**
.prettierignore
.vscode-test.mjs
eslint.config.mjs
AGENTS.md
CLAUDE.md
.doc/**
